Repository dmno-dev/dmno, pull requests merged in 2025-01, with the labels that each got.

#190 fix github labeler config
  .github/config/labeler.yaml
Labels: maintainer

#189 fix resolve json-full format
  .changeset/thirty-geckos-sit.md
  packages/core/src/cli/commands/resolve.command.ts
Labels: maintainer

#194 fix indexing issue caused by shift from netlify to cloudflare
  .changeset/spicy-items-trade.md
  packages/docs-site/.dmno/config.mts
  packages/docs-site/package.json
  packages/platforms/cloudflare/src/data-types.ts
  pnpm-lock.yaml
Labels: docs-site, maintainer

#196 passthrough CF env vars from turbo
  package.json
  packages/docs-site/netlify.toml
  packages/docs-site/package.json
  turbo.json
Labels: docs-site, maintainer

#197 initial gh action docs
  .dmno/config.mts
  packages/docs-site/.dmno/config.mts
  packages/docs-site/astro.config.ts
  packages/docs-site/src/components/BugReportLink.astro
  packages/docs-site/src/components/CustomStarlightPageTitle.astro
  packages/docs-site/src/content/config.ts
  packages/docs-site/src/content/docs/docs/platforms/github-actions.mdx
Labels: docs-site, maintainer, platforms/github-actions

#199 add tracking pixel to docs site
  packages/docs-site/astro.config.ts
Labels: docs-site, maintainer

#200 basic array data type functionality
  .changeset/thirty-masks-cough.md
  packages/configraph/src/config-node.ts
  packages/configraph/src/data-types.ts
  packages/configraph/src/entity.ts
  packages/configraph/src/graph.ts
  packages/configraph/src/pick.ts
  packages/configraph/src/resolvers.ts
  packages/configraph/test/array-type.test.ts
  packages/configraph/test/object-node.test.ts
  packages/configraph/test/pick.test.ts
  packages/core/src/config-engine/config-engine.ts
Labels: maintainer
