Repository dmno-dev/dmno, pull requests merged in 2025-03, with the labels that each got.

#205 typo in init
  packages/core/src/cli/commands/init.command.ts
Labels: maintainer

#211 add scarf
  .changeset/dirty-chairs-appear.md
  packages/core/package.json
  packages/docs-site/.dmno/config.mts
  packages/docs-site/src/components/CustomStarlightFooter.astro
  packages/plugins/1password/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: plugins/1password, maintainer, core

#213 update content collection config and remove exclusions from sitemap
  packages/docs-site/astro.config.ts
  packages/docs-site/src/content.config.ts
Labels: docs-site, maintainer

#198 signup-api -> api, finalize move to cloudflare
  .changeset/nervous-monkeys-dress.md
  .gitignore
  .nvmrc
  CONTRIBUTING.md
  package.json
  packages/core/src/cli/commands/init.command.ts
  packages/dmno-api/.dmno/config.mts
  packages/dmno-api/.dmno/tsconfig.json
  packages/dmno-api/.eslintrc.cjs
  packages/dmno-api/.gitignore
  packages/dmno-api/README.md
  packages/dmno-api/package.json
  packages/dmno-api/src/dmno-env.d.ts
  packages/dmno-api/src/hono-env.ts
  packages/dmno-api/src/lib/error-utils.ts
  packages/dmno-api/src/lib/mailerlite.ts
  packages/dmno-api/src/main.ts
  packages/dmno-api/src/routes/signup.routes.ts
  packages/dmno-api/src/types/emailvalid.d.ts
  packages/dmno-api/tsconfig.json
  packages/dmno-api/wrangler.json
  packages/docs-site/.dmno/config.mts
  packages/docs-site/package.json
  packages/docs-site/src/components/EmailSignup.vue
  packages/signup-api/.dmno/config.mts
  packages/signup-api/.dmno/prod.vault.json
  packages/signup-api/.gitignore
  packages/signup-api/dist/howdy.txt
  packages/signup-api/functions-src/signup.ts
  packages/signup-api/functions/README.md
  packages/signup-api/package.json
  packages/signup-api/public/_routes.json
  packages/signup-api/tsconfig.json
  packages/signup-api/tsup.config.ts
  packages/signup-api/wrangler.toml
  pnpm-lock.yaml
Labels: docs-site, maintainer
